{% paginate article.comments by 50 %}

//- 
  When a commment has just been submitted, it's not shown right away.
  Shopify needs to wait until it knows for sure that it is not spam to publish it.
  We can still show right away *to its author* the comment he just submitted 
  — although that comment may not have been published yet.
  When a comment is submitted, the browser is redirected to a page that 
  includes the new comment id in its URL. Example:
  http://shopname.myshopify.com/blogs/news/2022072-my-post?comment=3721372
  When a comment ID is specified in an article URL, that comment is accessible in the 
  template through a Liquid object called comment. 
  That comment is a full-fledged comment variable that has all the regular comment properties: 
  http://wiki.shopify.com/Comment_variable.
  Note that comment.created_at will only be defined if the comment did not have any blank field 
  — was posted without error.


{% assign number_of_comments = article.comments_count %}

{% comment %}If a comment was just submitted, and it has no blank fields.{% endcomment %}
{% if comment and comment.created_at %}
{% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

h2: a(href="{{ blog.url }]"){{ blog.title }}

.blog-article
  h1.blog-article-title
    {{ article.title }}

  h3.blog-article-date
    time(pubdate, datetime="{{ article.published_at | date: '%Y-%m-%d' }}"){{ article.published_at | date: '%b %d, %Y' }}


  .rte {{ article.content }}

  ul.blog-article-meta
    {% if blog.comments_enabled? %}
    li.blog-article-meta-comments
      a(href="#comments") {{ number_of_comments }} {{ number_of_comments | pluralize: 'comment', 'comments' }}
    {% endif %}

    {% if article.tags.size > 0 %}
    li.blog-article-meta-tags
      span Filed under
      {% for tag in article.tags %} 
      a(href="{{ blog.url }}/tagged/{{ tag | handle }}") {{ tag }}
      {% unless forloop.last %}, {% endunless %}
      {% endfor %}
    {% endif %}


{% if blog.comments_enabled? %}
#comments

  {% comment %}If a comment was just submitted with no blank field.{% endcomment %}
  {% if comment and comment.created_at %}
  .success.feedback
    {% if blog.moderated? %}
    p Your comment was posted successfully. We will publish it in a little while, as our blog is moderated.
    {% else %}
    p Your comment was posted successfully! Thank you!
    {% endif %}
  {% endif %}

  {% if number_of_comments > 0 %}
  ul
    {% comment %}If a comment was just submitted with no blank field, let's show it.{% endcomment %}
    {% if comment and comment.created_at %}
    li(id="{{ comment.id }}", class="comment first{% if article.comments_count == 0 %} last{% endif %}")
      h3.comment-author {{ comment.author }} says...
      .comment-content
        {{ comment.content }}

      p.comment-date On {{ comment.created_at | date: "%B %d, %Y" }}
    {% endif %}
    {% comment %}Showing the rest of the comments.{% endcomment %}
    {% for comment in article.comments %}
    li(id="{{ comment.id }}", class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}")
      h3.comment-author {{ comment.author }} says...
      .comment-content
        {{ comment.content }}

      p.comment-date On {{ comment.created_at | date: "%B %d, %Y" }}
    {% endfor %}
  {% endif %}
  
  {% comment %}Comments are paginated.{% endcomment %}
  {% if paginate.pages > 1 %}
  #pagination
    {{ paginate | default_pagination }}
  {% endif %}
  
  {% comment %}Comment submission form.{% endcomment %}
  {% form article %}
  
  h3#add-comment-title Leave a comment
  
  {% if form.errors %}
  .feedback.error
    p {{ settings.comments_error_message }}
    {% for field in form.errors %}
    p The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.
    {% endfor %}
  {% endif %}

  p
    label(for="comment-author") Name
    input#comment-author(required, type="text" name="comment[author]", placeholder="Your name", value="{{ form.author }}")


  p
    label(for="comment-email") Email
    input#comment-email(type="email", name="comment[email]", placeholder="your@email.com",value="{{ form.email }}")


  p
    label(for="comment-body") Message
    textarea#comment-body(name="comment[body]") {{ form.body }}

  input(type="submit", value="Post Comment")
  
  {% if form.errors %}
  script.
    window.location.hash = '#add-comment-title';
  {% endif %}
  
  {% if form.posted_successfully? %}
  script.
    window.location.hash = '#comments';
  {% endif %} 
  {% endform %}
{% endif %}

{% if blog.next_article or blog.previous_article %}
p
  {% if blog.next_article %}
  span.left {{ '&larr; Next Post' | link_to: blog.next_article }}
  {% endif %}    
  {% if blog.previous_article %}
  span.right {{ 'Previous Post &rarr;' | link_to: blog.previous_article }}
  {% endif %}
{% endif %}

{% endpaginate %}